.gameboard {
  display: grid;
  grid-template-columns: repeat(6, 1fr);
  gap: 1rem;
}

.container {
  display: flex;
  flex-direction: column;
  width: 100%;
}

.loading {
  align-self: center;
  grid-column: 1 / span 6;
}

@media (min-width: 769px) and (max-width: 1280px) {
  .gameboard {
    grid-template-columns: repeat(4, 1fr);
  }
}

@media (max-width: 768px) {
  .gameboard {
    grid-template-columns: repeat(3, 1fr);
  }
}

@media (max-width: 600px) {
  .gameboard {
    grid-template-columns: repeat(2, 1fr);
    gap: 0.5rem;
  }

  .container {
    margin-top: 60px;
  }
}
